@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.text-center{
 text-align: center;
}
.button-center{
 text-align: center;
 
 margin: auto;
}
nav.top-nav{
  height: 122px;
  box-shadow: none;
}
nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}
a.button-collapse.top-nav.full {
    margin-top: 32px;
    line-height: 122px;
}

a.button-collapse.top-nav i {
    font-size: 32px;
}

.logo-container {
    margin-top: 32px;
    height: 57px;
    margin-bottom: 70px;
}
a.logo-container:hover{
  background-color: transparent;
}
.collapsible-body a{
  font-weight: 300;
}

.brand-size{
  width: 300px;
  max-width: 468px;
  max-height: 60px;
}

.body-padding{
  padding: 15px;
}
.sub-heading{
  color: #2196f3;
}
.no-padding {
    padding: 0 !important;
}


header, main, footer {
      padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
  padding-left: 0;
  }

}
@media only screen and (min-width : 992px) {
  .no-padding {
  padding: 0 16px!important;
  }

}
