{% extends "base.html"  %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
        	{% for message in form.rssi.errors %}
	   <div class="card red lighten-1">
            <div class="card-content white-text">
                {{ message }}
            </div>
       </div>
	{% endfor %}


    <form class="col s12"  method="POST" action="{{request.path}} ">
	   {{form.hidden_tag()}}
	<div class="section">
    	<div class="row">
               <div class="input-field col s12">
                   {{form.host.label}}
                   {{form.host(disabled=True)}}
               </div>
        </div>    
        <div class="row">
         <div class="input-field col s12">
     		{{form.port.label}}
		    {{form.port(disabled=True)}}
          </div>
        </div>

          <div class="row">
         <div class="input-field col s12">
     		{{form.topic.label}}
		    {{form.topic(disabled=True)}}
          </div>
        </div>

        <div class="row">
         <div class="input-field col s12">
     		{{form.username.label}}
		    {{form.username(disabled=True)}}
          </div>
        </div>
        <div class="row">
         <div class="input-field col s12">
     		{{form.password.label}}
		    {{form.password(disabled=True)}}
          </div>
        </div>
           <div class="row">
         <div class="input-field col s12">
     		{{form.interval.label}}
		    {{form.interval}}
          </div>
        </div>

           <div class="row">
         <div class="input-field col s12">
     		{{form.rssi.label}}
		    {{form.rssi}}
          </div>
        </div>

           <div class="row">
         <div class="input-field col s12">
     		{{form.gps.label}}
             <br/><br/>
		    {{form.gps}}
          </div>
        </div>

    </div>
       
     

          {{form.submit(class_="waves-effect waves-light btn cyan darken-1")}}
	</form>

	</div>
  </div>
<main>



{% endblock %}
