<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/static/css/materialize.min.css'/>
    <link rel="stylesheet" href='/static/css/styles.css'/>
  </head>
<body>

<header>
  <nav class="top-nav blue lighten-1">
    <div class="container">
    <div class="nav-wrapper">
        <a class="page-title flow-text">{{title}}</a>
        <a href="#" data-activates="side-menu" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
        <ul class="side-nav fixed" id="side-menu">
          <li><a class="logo-container" href="/" ><img src='/static/img/bewhere-logo-2.svg'></a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/wifi">WiFi</a></li>
          <li><a href="/application">Application</a></li>
           <li><a href="/system">System</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>



  {% block content %}
  {% endblock %}

<script type="text/javascript" src='/static/js/jquery-3.1.1.min.js'></script>
<script type="text/javascript" src='/static/js/materialize.min.js'></script>
<script type="text/javascript" src='/static/js/custom.js'></script>

</body>
</html>
