   {% extends "base.html" %}

   {% block content %}
   <main>
     <div class="row">
       <div class="col s12">
          {%- for message in get_flashed_messages() %}
         <div class="card red lighten-1">
           <div class="card-content white-text">
                {{ message }}
          </div>
        </div>
          {%- endfor %}
      </div>


    <div class="col s12 l6">
            <div class="card">
              <div class="card-content white-text cyan lighten-1">
                <span class="card-title">System Information</span>
        <p>View device information</p>
              </div>
              <div class="card-action ">
                <a href="/system">Configure</a>
              </div>
            </div>
          </div>

       <div class="col s12 l6">
         <div class="card">
           <div class="card-content white-text cyan lighten-1">
             <span class="card-title">WiFi Settings</span>
		<p>Scan for networks and configure WiFi settings.</p>
           </div>
           <div class="card-action ">
             <a href="/wifi">Configure</a>
           </div>
         </div>
       </div>

           <div class="col s12 l6">
         <div class="card">
           <div class="card-content white-text cyan lighten-1">
             <span class="card-title">Application Settings</span>
		<p>Configure MQTT and device settings.</p>
           </div>
           <div class="card-action ">
             <a href="{{ url_for('application') }}">Configure</a>
           </div>
         </div>
       </div>


         

          <div class="col s12">
            <div class="card">
              <div class="card-content white-text card-content white-text cyan lighten-1">
                <span class="card-title">Reboot Device</span>
                <p>Once configured, a device reboot is necessary for changes to take effect. Please be aware that
		you will be unable to access this page again unless you perform a reset using the button located on the device.</p>
              </div>
              <div class="card-action">
                <a href="/reboot">Reboot Now</a>
              </div>
            </div>
          </div>
        </div>

 


   </main>
   {% endblock %}
