{% extends "base.html" %}

{% block content %}
<main>
<div class="container z-depth-5 body-padding">
<form action="#">
  <h3 class="sub-heading">Network</h3>
  <div class="input-field col s12">
    <input id="last_name" type="text" class="validate">
    <label for="last_name">Enter WiFi Name</label>
     </div>
 <div class="input-field col s12">
         <input id="last_name" type="text" class="validate">
         <label for="last_name">Enter WiFi password</label>
   </div>

   <div class="input-field col s12">
    <select>
      <option value="" disabled selected>  Select Security Protocol</option>
      <option value="1">Open</option>
      <option value="2">WPA TKIP</option>
      <option value="3">WPA AES</option>
      <option value="4">WPA2 TKIP</option>
      <option value="5">WPA2 AES</option>
    </select>
  </div>
</form>
  <form action="#">
    <h3 class="sub-heading">Reporting</h3>
   <p>
     <input type="checkbox" id="test5" />
     <label for="test5">In/Out of range</label>
   </p>
   <p>
     <input type="checkbox" id="test6" checked="checked" />
     <label for="test6">Temperature</label>
   </p>
   <p>
     <input type="checkbox" id="test7" checked="checked" />
     <label for="test7">Light</label>
   </p>
   <p>
     <input type="checkbox" id="test8" checked="checked" />
     <label for="test8">Impact</label>
   </p>

 </form>

 <form action="#">
   <h3 class="sub-heading">Time Interval</h3>
     <p>
       <input name="group1" type="radio" id="test9" />
       <label for="test9">1 minute</label>
     </p>
     <p>
       <input name="group1" type="radio" id="test10" />
       <label for="test10">5 minutes</label>
     </p>
     <p>
       <input class="with-gap" name="group1" type="radio" id="test11"  />
       <label for="test11">10 minutes</label>
     </p>
     <p>
       <input class="with-gap" name="group1" type="radio" id="test12"  />
       <label for="test12">30 minutes</label>
     </p>
     <p>
       <input class="with-gap" name="group1" type="radio" id="test13"  />
       <label for="test13">60 minutes</label>
     </p>
     <p>
       <input class="with-gap" name="group1" type="radio" id="test14"  />
       <label for="test14">24 hours</label>
     </p>
   </form>

   <form action="#">
     <h3 class="sub-heading">RSSI Range</h3>
     <p class="range-field">
       <input type="range" id="test15" min="0" max="100" />
     </p>
   </form>


</div>
</main>
{% endblock %}
