{% extends "base.html"  %}

{% block content %}
<main>
    <div class="container">
        <div class="row">
            {%- for category, message in get_flashed_messages(with_categories = true) %}
                <div class="card red lighten-1">
                    <div class="card-content white-text">
                        {{ message }}
                    </div>
                </div>
            {%- endfor %}

            {% for message in form.user_login.errors %}
                <div class="card red lighten-1">
                    <div class="card-content white-text">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

            {% for message in form.user_pass.errors %}
            <div class="card red lighten-1">
                    <div class="card-content white-text">
                        {{ message }}
                    </div>
            </div>
            {% endfor %}

             <form class="col s12"  method="POST" action="{{request.path}} ">
	        {{form.hidden_tag()}}
            <div class="section">
                <div class="row">
                    <h5 class="text-center">Login</h5>
                    <div class="input-field col s12">
                        {{form.user_login.label}}
                        {{form.user_login}}
                    </div>
                    
                </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{form.user_pass.label}}
                            {{form.user_pass}}
                        </div>
                    </div>
            </div>
       
          {{form.submit(class_="waves-effect waves-light btn cyan darken-1")}}
	</form>


        </div>
    </div>
<main>
{% endblock %}