{% extends "base.html"  %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
        {%- for category, message in get_flashed_messages(with_categories = true) %}
              <div class="card red lighten-1">
                <div class="card-content white-text">
                  {{ message }}
                </div>
              </div>
        {%- endfor %}

        {% for message in form.ssid.errors %}
           <div class="card red lighten-1">
                <div class="card-content white-text">
                    {{ message }}
                </div>
              </div>
        {% endfor %}

	  {% for message in form.ssid_pw.errors %}
           <div class="card red lighten-1">
                <div class="card-content white-text">
                    {{ message }}
                </div>
              </div>
        {% endfor %}

	{% for message in form.rssi.errors %}
	   <div class="card red lighten-1">
            <div class="card-content white-text">
                {{ message }}
            </div>
       </div>
	{% endfor %}

    <form class="col s12"  method="POST" action="{{request.path}} ">
	   {{form.hidden_tag()}}
	<div class="section">
    	<div class="row">
	           <h5 class="text-center">WiFi</h5>
               <div class="input-field col s12 l8">
                   {{form.ssid.label}}
                   {{form.ssid}}
               </div>
               <div class="input-field col s12 l3 offset-l1">
                   <a href="#scanlist" id="scanwifi" class="waves-effect waves-light btn cyan darken-1 button-center">Scan</a>
               </div>
        </div></div>
       
	   <div class="row">
	       <div id="wifiresult" class="col s12"></div>
	   </div>

        <div class="row">
         <div class="input-field col s12">
     		{{form.ssid_pw.label}}
		    {{form.ssid_pw}}
          </div>
        </div>

	<div class="section">
        <div class="row">
        <h5 class="text-center">RSSI</h5>
                <div class="input-field col s12 l3">
                    {{form.rssi.label}}
                    {{form.rssi}}
                 </div>
        </div></div>

          {{form.submit(class_="waves-effect waves-light btn cyan darken-1")}}
	</form>

	</div>
  </div>
<main>



{% endblock %}
