   {% extends "base.html" %}

   {% block content %}
   <main>
     <div class="row">
       <div class="col s12">
          {%- for message in get_flashed_messages() %}
         <div class="card red lighten-1">
           <div class="card-content white-text">
                {{ message }}
          </div>
        </div>
          {%- endfor %}
      </div>

      <div class="col s12">
      {% for message in form.sender.errors %}
           <div class="card red lighten-1">
                <div class="card-content white-text">
                    {{ message }}
                </div>
              </div>
        {% endfor %}
        </div>


   

      <form class="col s12"  method="POST" action="{{request.path}} ">
      {{form.hidden_tag()}}
        <div class="section">

            <div class="row">
                  <div class="input-field col s12">
                      {{form.wifi_mac.label}}
                      {{form.wifi_mac(disabled=True)}}
                  </div>
            </div>

              <div class="row">
                  <div class="input-field col s12">
                      {{form.bluetooth.label}}
                      {{form.bluetooth(disabled=True)}}
                  </div>
            </div>

              <div class="row">
                  <div class="input-field col s12">
                      {{form.serial.label}}
                      {{form.serial}}
                  </div>
            </div>

          <div class="row">
                  <div class="input-field col s12">
                      {{form.sender.label}}
                      {{form.sender}}
                  </div>
            </div>
          </div>


          {{form.submit(class_="waves-effect waves-light btn cyan darken-1")}}
	</form>
        
       {% if generate %}
         <div class="col s12 l6">
         <div class="card">
           <div class="card-content white-text red lighten-1">
             <span class="card-title">Generate New MAC</span>
              <p>Warning: Generating a new MAC will reboot the device.</p>
           </div>
             <div class="card-action ">
                <a href="/generate-info">Generate</a>
              </div>
         </div>
       </div>

      <div class="col s12 l6">
         <div class="card">
           <div class="card-content white-text red lighten-1">
             <span class="card-title">Refresh Values</span>
              <p>If any value other than MAC address is missing after Generating
                then click refresh to have the device attempt to get the current
                values again.</p>
            </div>
             <div class="card-action ">
               <a href="/refresh-info">Refresh</a>
              </div>
         </div>
       </div>
       {% endif %}


        </div>

 


   </main>
   {% endblock %}
